table tr:nth-child(1) {
	background-color: #0064FF;
}

table tr:nth-child(2) {
	background-color: #EEEEE0;
}

.linha {
	background-color: #B2DFEE;
}

.outraLinha {
	background-color: #BFEFFF;
}

table tr td{
	padding: 5px;
}

.campo {
	border-radius: 3px;
}

